.skills__cent-p{

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
margin: 0 auto;
text-align: center;
width: 576px;
height: 28px;
color: #4B5563;
}

#for_skills{
    margin-bottom: 20px;

}

.javasc{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

#about_me{
    background-color: #F9FAFB;
}

#skills{
    margin-top: 6%;
    margin-bottom: 7%;
}